pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT SOURCE_TBL, TARGET_TBL \nFROM @pipeline().parameters.CONFIG_TBL",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "AZURESQLDBTABLES",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.CONFIG_TBL",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"TABLELIST": {
							"value": "@activity('Lookup1').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"CONFIG_TBL": {
				"type": "String",
				"defaultValue": "LOAD_CFG"
			},
			"SRC_TBL": {
				"type": "string"
			},
			"TGT_TBL": {
				"type": "string"
			}
		}
	}
}