pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select source_tbl,target_tbl from load_cfg"
					},
					"dataset": {
						"referenceName": "AZURESQLDBTABLES",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.CONFIG_TBL",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.source_tbl",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy1",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT SOURCE_TBL FROM LOAD_CFG"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSetting",
										"copyBehavior": {
											"value": "SELECT TARGET_TBL FROM LOAD_CFG",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSetting",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"sink": {
												"ordinal": 1
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "AZURESQLDBTABLES",
									"type": "DatasetReference",
									"parameters": {
										"TABLENAME": {
											"value": "LOAD_CFG",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BLOBFILES",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"CONFIG_TBL": {
				"type": "String",
				"defaultValue": "LOAD_CFG"
			}
		}
	}
}