BAW-Data-Integration/PartialArmTemplates/ArmTemplate_6_22_2019_22_34_58.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "BAW-Data-Integration"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"dataset": {
								"referenceName": "AZURESQLDBTABLES",
								"type": "DatasetReference",
								"parameters": {
									"TABLENAME": {
										"value": "@pipeline().parameters.CONFIG_TBL",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"TABLELIST": {
									"value": "@activity('Lookup1').output",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"CONFIG_TBL": {
						"type": "String",
						"defaultValue": "LOAD_CFG"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AZURESQLDBTABLES')]",
				"[concat(variables('factoryId'), '/pipelines/pipeline2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.TABLE_LIST",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data2",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT SOURCE_TBL FROM LOAD_CFG"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSetting",
												"copyBehavior": {
													"value": "SELECT TARGET_TBL FROM LOAD_CFG",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSetting",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "AZURESQLDBTABLES",
											"type": "DatasetReference",
											"parameters": {
												"TABLENAME": {
													"value": "LOAD_CFG",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BLOBFILES",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"TABLE_LIST": {
						"type": "array"
					},
					"TABLENAME": {
						"type": "string"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AZURESQLDBTABLES')]",
				"[concat(variables('factoryId'), '/datasets/BLOBFILES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURESQLDBTABLES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnkd_svc_sqldb",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TABLENAME": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQLDB"
				},
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().TABLENAME",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOBFILES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobBAWETL",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "da-container-blob"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					}
				]
			}
		}
	]
}